*{
margin:0;
padding:0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
margin:0;
padding:0;
}
h1 { font-size: 40px; font-weight: bold; margin: 0 0 30px 0; padding: 5px 0; color: #000; }
h2 { font-size: 28px; font-weight: normal; line-height: 28px; margin: 10px 0 30px 0; padding: 0; color: #c7a902; }
h3 { font-size: 21px; margin: 0 0 20px 0; padding: 0; padding: 0; color: #666666; }
h4 { font-size: 18px; margin: 0 0 20px 0; padding: 0; color: #ffa200; }
h5 { font-size: 16px; margin: 0 0 10px 0; padding: 0; color: #ffa200;}
h6 { font-size: 14px; margin: 0 0 5px 0; padding: 0; color: #ffa200;}
header {
height:auto;
width:100%;
background-color:blue;
margin:0;
}
.header>img{
height:70px;
width:90px;
padding:5px;
cursor:pointer;
}
.header{
display:flex;
justify-content:flex-start;
align-items:center;

}
.head {
position:absolute;
right:10px;

}
 .head>.ul1>li{
display:inline;
list-style:none;

padding:5px;
}
a{
text-decoration:none;
color:white;
}
.service {
width:100%;
height:auto;
background:gray;
border-bottom:20px solid #323c51;
}
.kura {
width:120px;
height:120px;
float:left;
margin:10px;
}
.kura2 {
position:relative;
width:40%;
height:auto;
background-color:#aaC15d;
}
.container-1 {
position:relative;
display:flex;
justify-content:space-between;
border-bottom:20px solid #3aafa9;
}
.aboute {
width:60%;
}
.name {

height: auto;
padding:5px 5px;
bottom:0px;
width:35%;
text-align:center;
}

.contact-experience {
width:100%;
display:flex;
flex-wrap:wrap;

}
.contact {
width:40%;
background-color:pink;
word-wrap:word-break;
}
.list {
padding-left:10px;

}
.list>li{
list-style:inside;
}
.experience {
width:60%;
background-color:#f0f5f9;
text-align:center;
}
.footer{
display:inline-block;
}
.footer>.ul2>li{
display:flex;
flex-flow:row;
}
.experience>h2 {
text-align:center;
padding-top:20px ;
border-bottom:1px solid black;
}
.proj1 {
width:95%;
height:auto;
margin-bottom:5px;
}
.proj {
text-align:center;
}
.card1 {
margin:5px 0;
border-bottom:1px solid black;
width:90%;
padding:5%;

}
p{
font-family:sans-serif;
padding:0 10px 10px 10px;

}
footer {
display:inline-block;
align-items:center;
background-color:blue;
width:100%;
height:auto;
}
.ul2 {
display:flex;
justify-content:space-evenly;
right:5px;
}
.logoim {
height:70px;
width:90px;
padding:5px;
cursor:pointer;
}
.footer {
position:absolute;
right:5px;


}
.img3{
height:25px;
width:25px;
margin-right:15px;
}
.footlogo {
display:flex;
align-items:center;
}
.verif {
display:flex;
justify-content:space-evenly;
padding:15px;
border-top:1px solid black;
}
.contact>p{ word-wrap:break-word;

}
p>a{
color:blue;
    }
